$colGray1: #BEC6C6;
$colGray3: #989e9e;
$colGray5: #646868;

$colAccent: #0073E9;

$colRed: #e74c3c;
$colGreen: #27ae60;

// ---------------------------------------------------------------------------------------------------------------------

.UbField, .UbField * {
  box-sizing: border-box;
}

.UbField {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid $colGray1;
  background: #fff;
  overflow: hidden;
  transition: all .1s ease;

  &.--no-file {
    border-style: dashed;
  }
  &.--dropping-file {
    border-style: dashed;
    border-color: $colAccent;
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.UbField .ub-btn {
  display: inline-flex;
  background: $colAccent;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  min-height: 29px;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: all .1s ease;
  border: 1px solid rgba(0, 0, 0, .1);

  &.--delete {
    background: $colRed;
    color: #fff;
  }

  &:hover {
    box-shadow: inset 0 0 999px rgba(255, 255, 255, .1);
  }
  &:active {
    box-shadow: inset 0 0 999px rgba(0, 0, 0, .1);
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.UbField > .error-bar {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  color: $colRed;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  background: #fff4f7;

  &, > span {
    display: flex;
    align-items: center;
  }

  > span:before {
    display: block;
    content: " ";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-right: 7.5px;
    background: $colRed;
  }
}

.UbField.--no-file > .error-bar {
  border-bottom-style: dashed;
}

// ---------------------------------------------------------------------------------------------------------------------

.UbField > .file-selected {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  min-height: 59px;
  padding: 15px;

  > .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 15px;

    .status {
      margin: 0 0 5px 0;
      padding: 0;
      display: inline-flex;
      font-size: 14px;
      color: $colGreen;
    }

    .name {
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 14px;

      > span, > a {
        margin-right: 5px;
        line-height: 1.5;

        &:last-child {
          margin-right: 0;
        }
      }
      > .name-actual {
        font-family: monospace;
        color: $colAccent;
        font-weight: 600;
      }
      > .size {
        color: $colGray3;
      }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.UbField > .no-file {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  min-height: 59px;
  padding: 15px;

  > .message {
    justify-self: flex-start;
    display: flex;
    flex-grow: 1;
    color: $colGray5;
    font-weight: 600;
    transition: color .1s ease;
  }
  > .ub-btn {
    justify-self: flex-end;
    flex-grow: 0;
  }
}

.UbField.--dropping-file > .no-file {
  background: rgba(0, 155, 233, 0.1);

  &, > .message {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  > .message {
    color: $colAccent;
  }
  > .ub-btn {
    display: none;
  }
}

// ---------------------------------------------------------------------------------------------------------------------

.UbField .ext-image-preview {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 333px;
  background: #eee;
  object-fit: cover;
  border: none;
  border-top: 1px solid $colGray1;
  margin: 0;
  padding: 0;
}

// ---------------------------------------------------------------------------------------------------------------------